.paymentContainer {
  width: 100%;
  max-width: 964px;
}

.content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
}

.content > div {
  position: sticky;
  top: 0;
}

@media (max-width: 968px) {
  .content {
    flex-direction: column;
  }

  .content > div {
    position: static;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
  }
}
