.button {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  white-space: nowrap;
  border: none;
  background: transparent;
}

.button .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.variant-primary,
.variant-secondary {
  flex: 1;
  width: 100%;
  height: 44px;
  padding: 13px 14px;
  border-radius: 12px;
  background: linear-gradient(0deg, #6148c2 0%, #7b66cc 100%);
  /* text */
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 146.667% */
  letter-spacing: -0.15px;
}

.variant-primary:disabled {
  background: linear-gradient(0deg, #6148c2 0%, #7b66cc 100%);
}

.variant-secondary {
  border-radius: 10px;
  border: 1px solid #e2e8f0;
  background: #f8fafc;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* text */
  color: #0f172b;
}

.button:disabled {
  opacity: 0.4;
}

/* {
  color: #7d828d;
  font-family: var(--font-geist);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.14px;
} */
