.paymentCard {
  flex: 50%;
  background: white;
  padding: 24px 30px;
  border-radius: 16px;
  border: 1px solid var(--Card-Stroke, #e2e8f0);
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

.dropdownWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.paymentHeader {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 36px;

  color: var(--Grey-900, #0c0c0e);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.15px;
}

.usdcIcon {
  font-size: 20px;
}

.totalPrice {
  margin-bottom: 30px;
}

.priceLabel {
  display: block;
  margin-bottom: 8px;
  color: var(--Grey-500, #7d828d);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.15px;
}

.priceAmount {
  color: var(--Grey-900, #0c0c0e);
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.46px;
}

.poweredBy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
  color: #666;
  margin-top: 20px;
}

.balance {
  color: var(--Grey-500, #7d828d);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-align: right;
  margin-top: 16px;
  margin-bottom: 8px;
}

.balance span {
  color: var(--Grey-900, #0c0c0e);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.priceBreakdown {
  padding: 15px 21px;
  border-radius: 14px;
  border: 1px solid #e2e8f0;
  background: #f8fafc;
}

.error {
  border-radius: 12px;
  background: #ffeceb;
  display: flex;
  padding: 12px 16px;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  margin-top: 10px;

  /* text */
  color: var(--Colors-Red, var(--Colors-Red, #ff3b30));
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}

.priceRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.expiryTime {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: #7d828d;
  font-family: var(--font-geist);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.14px;
}

.totalAmount {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: var(--Grey-900, #0c0c0e);
  font-size: 29px;
  font-style: normal;
  font-weight: 500;
  line-height: 40.6px; /* 140% */
  letter-spacing: -0.58px;
  margin-bottom: 4px;
}

.currency {
  color: var(--Grey-500, #7d828d);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 146.667% */
  letter-spacing: -0.15px;
}

.feeInfo {
  color: var(--Grey-500, #7d828d);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}

.terms {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin-top: 28px;
  margin-bottom: 28px;
  color: var(--Grey-Grey-700, #4f535d);
  font-family: "Plus Jakarta Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.5px; /* 150% */
  letter-spacing: -0.15px;
}

.terms a {
  color: #7441d4;
  text-decoration: none;
}

.payBtn {
  width: 100%;
  padding: 16px;
  background: #a5a8fc;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background 0.2s;
}

.payBtn:hover {
  background: #9295f5;
}

.divider {
  text-align: center;
  color: #999;
  font-size: 14px;
  margin: 15px 0;
  border-top: 1px solid #e2e8f0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.divider span {
  display: block;
  position: absolute;
  display: flex;
  width: 45.3px;
  padding: 0 15.3px 0 16px;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.qrCodeBtn {
  width: 100%;
  padding: 14px;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background 0.2s;
}

.qrCodeBtn:hover {
  background: #f8f9fa;
}
