.productCard {
  flex: 50%;
  padding: 30px;
  border-radius: 16px;
  border: 1px solid var(--Card-Stroke, #e2e8f0);
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

.recipient {
  margin-bottom: 32px;
}

.recipientLabel {
  display: block;
  color: var(--Grey-500, #7d828d);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  margin-bottom: 8px;
}

.recipientAddress {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #6366f1;
  font-size: 14px;
  font-weight: 500;
}

.copyIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.productTitle {
  color: var(--Grey-900, #0c0c0e);
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 121.739% */
  letter-spacing: -0.46px;
  margin-bottom: 8px;
}

.productLink {
  color: var(--Grey-500, #7d828d);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 146.667% */
  letter-spacing: -0.15px;
  margin-bottom: 24px;
}

.productImage {
  width: 100%;
  height: 218px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 24px;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  border-top: 1px solid #f1f2f3;
}

.reportLink,
.shareLink {
  background: none;
  border: none;
  cursor: pointer;
}

.reportLink {
  color: var(--Grey-900, #0c0c0e);
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 146.667% */
  letter-spacing: -0.15px;
}

.shareLink {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--brand, #6148c2);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.shareLink {
  color: #6366f1;
}

.xIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 540px) {
  .productCard {
    padding: 16px;
  }
}
