.container {
  width: 100%;
  height: 100vh;
  overflow: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 56px;
}

@media (max-width: 968px) {
  .container {
    padding: 48px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 32px;
  }
}

@media screen and (max-width: 540px) {
  .container {
    padding: 16px;
  }
}
